/* Reset básico */
* {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5eb;
  color: #5b484a;
}

/* Container principal */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e1daca;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Cabeçalho */
.cabecalho {
  text-align: center;
  margin-bottom: 30px;
}

.titulo {
  font-size: 2rem;
  color: #b3907a;
}

/* Seções */
.conteudo {
  padding: 20px;
}

.cabecalhoConteudo h2 {
  font-size: 1.5rem;
  color: #b3907a;
  margin-bottom: 10px;
}

/* Geolocalização 
.conteudoLocalizacao p {
  font-size: 1rem;
  margin: 10px 0;
}

.botao {
  background-color: #c1b6a3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.botao:hover {
  background-color: #b3907a;
}
*/
/* Câmera */
#camera {
  text-align: center;
  margin-top: 20px;
  align-items: center;
    display: flex;
    flex-direction: column;
}

#camera--view {
  max-width: 100%;
  border-radius: 8px;
}

#camera--sensor{
  max-width: -webkit-fill-available;
  max-height: -webkit-fill-available;
}

#camera--output {
  margin-top: 10px;
  max-width: 100%;
  display: block;
  border-radius: 8px;
}
.photo-preview{
  max-width: -webkit-fill-available;
  max-height: -webkit-fill-available;
}

#camera--trigger {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #c1b6a3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

#camera--trigger:hover {
  background-color: #b3907a;
}

/* Trocar câmera */
#switch-camera {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #c1b6a3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#switch-camera:hover {
  background-color: #b3907a;
}

#photo-title{
  width: 40%;
  background-color: #c1b6a3;
  color: #f5f5eb;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #5b484a;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Efeito ao focar */
#photo-title:focus{
  border-color: #5b484a;
  box-shadow: 0 0 5px #5b484a
}
#photo-title::placeholder{
  color: #f5f5eb;
}

/* Notícias 
#news {
  margin-top: 30px;
}

#news-container p {
  font-size: 1rem;
  margin: 10px 0;
}

#apiKeyInput {
  padding: 10px;
  font-size: 1rem;
  width: 70%;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#btnAtualizarAPI {
  padding: 10px 20px;
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

#btnAtualizarAPI:hover {
  background-color: #357ABD;
}*/

/* Map */
#map {
  margin-top: 30px;
  border-radius: 8px;
}

/* Rodapé */
.rodape {
  text-align: center;
  margin-top: 40px;
  font-size: 1rem;
  color: #777;
}
#cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.photo-card {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.photo-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-card:hover {
  transform: scale(1.1);
}
